<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingapplication">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Wardrobe App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApplication">
        <activity
            android:name="com.example.shoppingapplication.activities.HelpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.shoppingapplication.activities.OrdersActivity"
            android:exported="false" />
        <activity
            android:name="com.example.shoppingapplication.activities.VouchersActivity"
            android:exported="false" />
        <activity
            android:name="com.example.shoppingapplication.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.shoppingapplication.activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.example.shoppingapplication.activities.AddAddressActivity"
            android:exported="true" />
        <activity
            android:name="com.example.shoppingapplication.activities.AddressActivity"
            android:exported="true" />
        <activity
            android:name="com.example.shoppingapplication.activities.CartActivity"
            android:exported="true" />
        <activity
            android:name="com.example.shoppingapplication.activities.ShowAllActivity"
            android:exported="true" />
        <activity
            android:name="com.example.shoppingapplication.activities.DetailedActivity"
            android:exported="true" />
        <activity
            android:name="com.example.shoppingapplication.activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.shoppingapplication.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shoppingapplication.activities.MainActivity"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_7atRRHSlA2lOx8" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
    </application>

</manifest>